*.sublime-*
*.output
*.yy.c
*.tab.c
*.tab.h
analyseDTD
analyseXML

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/nbProject/GL/build/
/nbProject/GL/dist/
tests/output.txt
