*.sublime-*
*.output
*.yy.c
*.xml.c
*.xsl.c
*.dtd.c
*.tab.c
*.tab.h
*.pyc
analyseDTD
analyseXML
gl
xsl.l
xsl.y

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/nbProject/GL/build/
/nbProject/GL/dist/
tests/output.txt
